.nome, .email, .fale-conosco, .divbotao, .textmensagem{
    text-align: center;
    width: 100%;
    text-align: center;
    font-family: 'retro';
    src: url('./KeeponTruckin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    color: rgb(7, 214, 233);
}

.formulario{
    display: block;
    
}

h2, .botao{
    text-align: center;
    font-family: 'retro';
    src: url('./KeeponTruckin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    color: rgb(90, 92, 219);
}


textarea {
    resize: none;

  }

  .nome>label{
    margin-right: 0%;
  }

  #inputnome{
    margin-right: 43.9%;
  }

  .email>label{
    margin-right: 0%;
  }

  #inputemail{
    margin-right: 44.8%;
  }

  .divbotao>.botao{
    margin-top: 5%;
  }