.nome, .email, .fale-conosco, .divbotao, .textmensagem{
    text-align: center;
    width: 100%;
    text-align: center;
    font-family: 'retro';
    src: url('./KeeponTruckin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    color: rgb(7, 214, 233);
}

.formulario{
   
    
}

h2, .botao{
    text-align: center;
    font-family: 'retro';
    src: url('./KeeponTruckin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    color: rgb(90, 92, 219);
}


textarea {
    resize: none;

  }
  .nome>label{
    margin-right: 0%;
  }

  #inputNome{
    margin-right: 43.8%;
  }

  .email>label{
    margin-right: 0%;
  }

  #inputEmail{
    margin-right: 44%;
  }

  .divbotao>.botao{
    margin-top: 5%;
  }
  .textoEmail{
    box-sizing: static;
  }

  textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    width: 57.5%;
  }