@font-face {
    font-family: 'retro';
    src: url('./KeeponTruckin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: linear-gradient(to right, #50f844, #31d7fc, #8725c5);
    
}

h1 {
    position: center;
    font-family: 'retro', Courier, monospace;
    color: yellow;
    font-size: 20px ;
}
.carousel-item>p{
    font-family: 'retro', Courier, monospace;
    color: rgb(25, 3, 44);
    font-size: 400% ;
    text-align: center;

}

nav{
    
}
