@font-face {
    font-family: 'retro';
    src: url('./KeeponTruckin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
body {
    background-image: linear-gradient(to right, #50f844, #31d7fc, #8725c5);
}   
.container-lg{
    background-color: #4a4e4a;
    border-radius: 5px;
    box-shadow: rgb(40, 255, 21) 10px 5px 5px;
    margin-top: 25px;
    padding: 50px;
    margin-bottom: 30px;
}
.container{
    float: left;
    margin-left: 0%;
    justify-content: left;

}
.row{
display: flex;
}

.col-md-12 {
    margin: auto;
    height: 50%;
}

.col-md-5 {
    margin-right: 40%;
    margin-top: 1%;
    display: flex;
   
}

.col-md-4{
margin: auto;
}

img {
    margin: auto;
    height: auto;
    padding: 5px;
}
.img_sobrenos{
    margin:auto;
    height: auto;
    padding-left: 25em;
}
h1 {
    position: center;
    font-family: 'retro', Courier, monospace;
    color: yellow;
    font-size: 20px ;
}
p{
    font-family: 'retro', Courier, monospace;
    color: rgb(2, 255, 78);
    font-size: 20px ;
}


a{
    font-family: 'retro', Courier, monospace;
    color:  #8725c5;
    font-size: 150% ;
    margin: 5;
}
nav{
    color: gold;
    background-color: gold;
    /* margin-left: 10%;
    margin-right: 10%; */


}
.navbar{
    
    min-width: 50%;
    
  
}

.nav-item{



    
    
}

.nav-link{
    
}

.btn-block{
max-width: max-content;
max-height: max-content;
margin: 5;


}

.carousel-inner{
    min-height: 450px;
    padding: 2%;
}

.carousel-indicators>li {
    width: 20%  ;
    height: 3px;
    text-indent: 100%;
}

.carousel-item>img{
    width: 100%;
    height: auto   ;
}

.estilo_nav_options{
    width: 30%;
    
    text-align: justify;

}
.layout-rodape{
    bottom: 0;
    background-color: rgb(12, 12, 12);
    text-align: center;
    font-weight: bold;
}
.fonte_rodape{
    color: yellow;
}
