@font-face {
    font-family: 'retro';
    src: url('./KeeponTruckin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
body {
    background-image: linear-gradient(to right, #50f844, #31d7fc, #8725c5);
    
    
}   
.container{
    background-color: rgb(152, 135, 135);
    border-radius: 5px;
    box-shadow: 10px 5px 5px;
    margin: 5px;
    padding: 5px;
}
.row{
    display: flex;
   
}

.col-md-6 {
    margin: auto;
}
img {
    margin-right: 25px;
    width: 100%;
    height: auto;
    padding-top: 0;
    padding: 5px;
}
h1 {
    position: center;
    font-family: 'retro', Courier, monospace;
    color: yellow;
    font-size: 20px ;
}
p{
    font-family: 'retro', Courier, monospace;
    color: yellow;
    font-size: 20px ;
    text-align: justify;

}

nav{
    color: gold;
    background-color: gold;
}

.carousel-inner{
    min-height: 450px;
    padding: 2%;
    
}

.carousel-indicators>li {

    width: 350px;
    height: 3px;
    text-indent: 100%;

}

.carousel-item>img{

    width: 200%;
    height: auto   ;

}

p{
    font-family: 'retro', Courier, monospace;
    color: yellow;
    font-size: 20px ;
    text-align: justify;

}

.estilo_nav_options{
    width: 60%;
    display: flex;
    justify-content: right;

}
.text_img{
    display: flex;
    flex-flow: wrap;
    justify-content: right;
}

/* .container{
    background-color: rgb(152, 135, 135);
    border-radius: 5px;
    box-shadow: 10px 5px 5px;
    margin: 5px;
    padding: 5px;
} */