#demo{
    width: 105vh;
    height: auto;
    margin-top: 50px;
    margin-right: 250px;
    margin-left: 20px;

}
.carousel-item{
}
.carousel-inner{
    background-color: rgb(30, 255, 0);
    margin-right: 50px;
    min-height: 45px;
    padding: 10%;
    
}
.estilo_logo{
    margin-right: 25px;
    padding-top: 0;
    padding: 8px;
}

.nav-item{
    display: flex;
}

.estilo_nav{
    width: 60%;
    display: flex;
    justify-content: right;
    text-align: ;
}
.text_img{
    display: flex;
    flex-flow: wrap;
    justify-content: right;
}

/* .container{
    background-color: rgb(152, 135, 135);
    border-radius: 5px;
    box-shadow: 10px 5px 5px;
    margin: 5px;
    padding: 5px;
} */